In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('used_car_dataset.csv')
df.head()

,Brand,model,Year,Age,kmDriven,Transmission,Owner,FuelType,PostedDate,AdditionInfo,AskPrice
0,Honda,City,2001,23,"98,000 km",Manual,second,Petrol,Nov-24,"Honda City v teck in mint condition, valid gen...","₹ 1,95,000"
1,Toyota,Innova,2009,15,190000.0 km,Manual,second,Diesel,Jul-24,"Toyota Innova 2.5 G (Diesel) 7 Seater, 2009, D...","₹ 3,75,000"
2,Volkswagen,VentoTest,2010,14,"77,246 km",Manual,first,Diesel,Nov-24,"Volkswagen Vento 2010-2013 Diesel Breeze, 2010...","₹ 1,84,999"
3,Maruti Suzuki,Swift,2017,7,"83,500 km",Manual,second,Diesel,Nov-24,Maruti Suzuki Swift 2017 Diesel Good Condition,"₹ 5,65,000"
4,Maruti Suzuki,Baleno,2019,5,"45,000 km",Automatic,first,Petrol,Nov-24,"Maruti Suzuki Baleno Alpha CVT, 2019, Petrol","₹ 6,85,000"

In [ ]:
df['Brand']

array(['Honda', 'Toyota', 'Volkswagen', 'Maruti Suzuki', 'BMW', 'Ford',
       'Kia', 'Mercedes-Benz', 'Hyundai', 'Audi', 'Renault', 'MG',
       'Volvo', 'Skoda', 'Tata', 'Mahindra', 'Mini', 'Land Rover', 'Jeep',
       'Chevrolet', 'Jaguar', 'Fiat', 'Aston Martin', 'Porsche', 'Nissan',
       'Force', 'Mitsubishi', 'Lexus', 'Isuzu', 'Datsun', 'Ambassador',
       'Rolls-Royce', 'ICML', 'Bajaj', 'Opel', 'Ashok', 'Bentley',
       'Ssangyong', 'Maserati'], dtype=object)

In [8]:
import tensorflow as tf
import numpy as np

# Dữ liệu giả lập
X_train = np.random.rand(100, 10)  # 100 mẫu, mỗi mẫu có 10 đặc trưng

# Tạo lớp Normalization
normalizer = tf.keras.layers.Normalization(input_shape=(10,), axis=-1)

# Tính toán trung bình và độ lệch chuẩn từ X_train
normalizer.adapt(X_train)

# Chuẩn hóa một mẫu
sample = np.random.rand(1, 10)
normalized_sample = normalizer(sample)
print("Mẫu gốc:", sample)
print("Mẫu sau chuẩn hóa:", normalized_sample.numpy())

Mẫu gốc: [[0.82865624 0.01341709 0.5104872  0.99168585 0.42090081 0.93787229
  0.74042687 0.86305927 0.14142483 0.79909278]]
Mẫu sau chuẩn hóa: [[ 0.9275665  -1.8409075   0.20893966  1.4751319  -0.3808408   1.4980448
   0.8304994   1.2049494  -1.3788129   0.92190343]]

c:\Users\Admin\anaconda3\Lib\site-packages\keras\src\layers\preprocessing\tf_data_layer.py:19: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)